In [1]:
import pandas as pd
from pascal_voc_writer import Writer

In [5]:
Train=pd.read_csv('Train.csv')
Train

                 filename  width  height  class  xmin  ymin  xmax  ymax
0        1401.0007_15.jpg    596     842  Table    85   396   510   495
1         1401.0007_5.jpg    596     842  Table   124    84   471   141
2         1401.0016_5.jpg    612     792  Table   327   494   552   574
3        1401.0022_16.jpg    612     792  Table    93   274   518   634
4        1401.0023_10.jpg    612     792  Table    51   291   538   500
...                   ...    ...     ...    ...   ...   ...   ...   ...
248812  1809.03841_14.jpg    596     842  Table   309   119   500   166
248813   1809.03849_6.jpg    612     792  Table   191    52   417   116
248814   1809.03849_7.jpg    612     792  Table   137    52   472   128
248815   1809.03854_9.jpg    612     792  Table    72    98   503   154
248816   1809.03856_8.jpg    612     792  Table   160    69   452   167

[248817 rows x 8 columns]

In [31]:
from collections import OrderedDict
unique_images=list(OrderedDict.fromkeys(Train['filename']))

In [ ]:
for g in range(len(unique_images)):
    specific_file=Train[Train['filename']==unique_images[g]]

    width=specific_file.iloc[0]['width']
    height=specific_file.iloc[0]['height']
    filename=specific_file.iloc[0]['filename']

    writer = Writer('images/'+filename, width, height)
    for i in range(len(specific_file)):

        name=specific_file.iloc[i]['class']
        xmin=specific_file.iloc[i]['xmin']
        ymin=specific_file.iloc[i]['ymin']
        xmax=specific_file.iloc[i]['xmax']
        ymax=specific_file.iloc[i]['ymax']

        writer.addObject(name, xmin, ymin, xmax, ymax)

    writer.save('dataset_xml/'+filename.replace('.jpg','.xml'))
    if g%1000==0:
        print(g)